*{
    padding: 0%;
    margin: 0%;
}

.center{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: start;
    align-items: center;
}
.project .project-desc{
    text-align: start;
    padding: 20px;
}


.project div{
    flex: 1;
    min-width: 340px;
    max-width: 90%;
}

.footer div{
    width: 50%;
}
.footer div a{
    margin: 5px;
}
#toTop{
    color: white;
    text-decoration: none;
    font-size: 25px;
}
